.custom-card{
  width:100%;
  max-width:250px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.custom-card img{
  width:100%;
  height:200px;
  object-fit:cover;
  border-radius: 20px;
}
.custom-card:hover {
  transform: scale(0.90) ;
  cursor: pointer;
  background-color: rgb(206, 229, 123);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.cuisine ,.restaurantName{
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.navbar{
  background-color: rgb(240, 240, 153);
}


.body{
  background-color: rgb(240, 240, 153);
   padding-top: 130px;/* Adjust this value based on the height of your navbar */
}
